<ion-view title="Productos" id="page22">
  <ion-content padding="true" class="has-header">
    <div id="productos-container28" class="row">
      <div id="productos-container26" class="col-50">
        <div class="item item-body" id="productos-list-item-container12">
          <form id="productos-form15" class="list">
            <label class="item item-input" id="productos-input32">
              <span class="input-label">Filtrar</span>
              <input type="text" placeholder="Nombre" ng-model="searchText">
            </label>
          </form>

          <ion-list>
            <ion-item class="item-button-right" ng-repeat="product in vm.products | filter:searchText">
              <ion-item-content ng-click="vm.showDetails(product)">
                <h2>{{product.name}}</h2>
                <p>Precio: {{product.price}}</p>
                <p>Descripcion: {{product.description}}</p>
              </ion-item-content>

              <button class="button button-positive" ng-click="vm.editProduct(product)">
                <i class="icon ion-edit"></i>
              </button>

            </ion-item>
          </ion-list>
        </div>
      </div>
      <div id="productos-container27" class="col-50">
        <form id="productos-form16" class="list">
          <label class="item item-input" id="productos-input33">
            <span class="input-label">Nombre</span>
            <input type="text" placeholder="Papas gratis" ng-model="vm.product.name">
          </label>
          <label class="item item-input" id="productos-input35">
            <span class="input-label">Precio</span>
            <input type="number" placeholder="3000" ng-model="vm.product.price">
          </label>
          <label class="item item-input" id="productos-input34">
            <span class="input-label">Descripción</span>
            <input type="text" ng-model="vm.product.description" placeholder="Sabrosas papas fritas hechas con grasa">
          </label>
          <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
          </div>
        </form>
        <a id="productos-button8" class="button button-positive  button-block" ng-click="vm.saveProduct()">Registrar Producto</a>
      </div>
    </div>
  </ion-content>
</ion-view>
