<ion-view title="Membresías" id="page17">
  <ion-content padding="true" class="has-header">
    <div id="membresAs-container17" class="row">
      <div id="membresAs-container15" class="col-50">
        <div class="item item-body" id="membresAs-list-item-container9">
          <form id="membresAs-form9" class="list">
            <label class="item item-input" id="membresAs-input8">
              <span class="input-label">Filtrar</span>
              <input type="text" placeholder="Nombre, Categoría, Dirección" ng-model="searchText">
            </label>
          </form>

          <ion-list>
            <ion-item class="item-button-right" ng-repeat="membership in vm.memberships | filter:searchText">
              <ion-item-content ng-click="vm.showDetails(membership)">
                <h2>{{membership.name}}</h2>
                <p>Minimal Points: {{membership.minimalPoints}}</p>
              </ion-item-content>

              <button class="button button-positive" ng-click="vm.editmembership(membership)">
                <i class="icon ion-edit"></i>
              </button>

            </ion-item>
          </ion-list>
        </div>
      </div>
      <div id="membresAs-container16" class="col-50">
        <form id="membresAs-form10" class="list">
          <label class="item item-input" id="membresAs-input9">
            <span class="input-label">Nombre</span>
            <input type="text" placeholder="Bronce" ng-model="vm.membership.name">
          </label>
          <label class="item item-input" id="membresAs-input14">
            <span class="input-label">Puntos mínimos</span>
            <input type="number" placeholder="0" ng-model="vm.membership.minimalPoints">
          </label>
        </form>
        <a id="membresAs-button5" class="button button-positive  button-block" ng-click="vm.savemembership()">Registrar Membresía</a>
      </div>
    </div>
  </ion-content>
</ion-view>

