<ion-view title="Usuarios">
  <ion-content padding="true" class="has-header">
    <div id="users-wrapper" class="row">

      <div id="users-wrapper-list" class="col-50">
        <div class="item item-body">
          <form class="list">
            <label class="item item-input">
              <span class="input-label">Filtrar</span>
              <input type="text" placeholder="Nombre, Cedula, Dirección" ng-model="searchText">
            </label>
          </form>

          <ion-list>
            <ion-item class="item-icon-right" ng-repeat="user in vm.users | filter:searchText">
              <h2>{{user.name}}</h2>
              <p>Cédula: {{user.identifier}}</p>
              <p>Correo: {{user.email}}</p>
              <i class="icon ion-edit"></i>
            </ion-item>
          </ion-list>
        </div>
      </div>

      <div id="users-wrapper-form" class="col-50">
        <ion-list>
          <ion-item>
            <form id="usuarios-form8" class="list">
              <label class="item item-input">
                <span class="input-label">Nombre Completo</span>
                <input type="text" placeholder="Jose Quirós" ng-model="vm.user.name">
              </label>
              <label class="item item-input">
                <span class="input-label">Cédula</span>
                <input type="number" placeholder="103450678" ng-model="vm.user.identifier">
              </label>
              <label class="item item-input">
                <span class="input-label">Correo</span>
                <input type="email" placeholder="example@example.com" ng-model="vm.user.email">
              </label>
              <label class="item item-input">
                <span class="input-label">Teléfono</span>
                <input type="tel" placeholder="8888-8888" ng-model="vm.user.phone">
              </label>
              <label class="item item-input">
                <span class="input-label">Dirección</span>
                <textarea placeholder="Dirección completa del cliente" ng-model="vm.user.address"></textarea>
              </label>
            </form>
            <a class="button button-positive  button-block" ng-click="vm.saveUser()">Registrar</a>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>

