<ion-view title="Bonificaciones" id="page20">
  <ion-content padding="true" class="has-header">
    <div id="bonificaciones-container24" class="row">
      <div id="bonificaciones-container22" class="col-50">
        <div class="item item-body" id="bonificaciones-list-item-container11">
          <form id="bonificaciones-form13" class="list">
            <label class="item item-input" id="bonificaciones-input28">
              <span class="input-label">Filtrar</span>
              <input type="text" placeholder="Nombre, Categoría, Dirección" ng-model="searchText">
            </label>
          </form>

          <ion-list>
            <ion-item class="item-button-right" ng-repeat="bonification in vm.bonifications | filter:searchText">
              <ion-item-content ng-click="vm.showDetails(bonification)">
                <h2>{{bonification.name}}</h2>
              </ion-item-content>

              <button class="button button-positive" ng-click="vm.editBonification(bonification)">
                <i class="icon ion-edit"></i>
              </button>

            </ion-item>
          </ion-list>
        </div>
      </div>
      <div id="bonificaciones-container23" class="col-50">
        <form id="bonificaciones-form14" class="list">
          <label class="item item-input" id="bonificaciones-input29">
            <span class="input-label">Nombre</span>
            <input type="text" placeholder="Papas gratis" ng-model="vm.bonification.name">
          </label>
          <label class="item item-select" id="bonificaciones-select1">
            <span class="input-label">Tipo</span>
            <select ng-model="vm.bonification.type">
              <option>Producto</option>
              <option>Descuento</option>
            </select>
          </label>
          <label class="item item-select" id="bonificaciones-select2">
            <span class="input-label">Membresía</span>
            <select ng-model="vm.bonification.membership">
              <option>Bronce</option>
              <option>Plata</option>
              <option>Oro</option>
              <option>Platino</option>
            </select>
          </label>
        </form>
        <a id="bonificaciones-button7" class="button button-positive  button-block" ng-click="vm.saveBonification()">Registrar Bonificación</a>
      </div>
    </div>
  </ion-content>
</ion-view>
